{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint",
    "prettier",
    "json"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "airbnb-typescript/base",
    "prettier/@typescript-eslint",
    "plugin:prettier/recommended",
    "prettier"
  ],
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "overrides": [
    {
      "files": ["*.js"],
      "env": {
        "node": true
      },
      "parserOptions": {
        "sourceType": "script"
      },
      "rules": {
        "strict": ["error", "global"],
        "@typescript-eslint/no-var-requires": "off"
      }
    }
  ],
  "rules": {
    "import/no-extraneous-dependencies": ["error", {"devDependencies": true}]
  }
} 
